<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Nunito+Sans:400,600,700" rel="stylesheet">
  {{!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css' /> --}}
  {{!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css' /> --}}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{!-- <link rel='stylesheet' href='/stylesheets/animate.css' /> --}}
  
  <link rel='stylesheet' href='/stylesheets/colorPicker/bootstrap-colorpicker.min.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
   integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.3.0/fabric.min.js"></script> --}}
  {{!-- <script src="/javascripts/fontfaceobserver.js"></script> --}}
  {{!-- <script src="/javascripts/colorPicker/bootstrap-colorpicker.min.js"></script> --}}
  <script src="/javascripts/main.js"></script>

  {{!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> --}}
  {{!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script> --}}
  {{!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /> --}}
</head>

<body>
  <header id="header" class="header-space">
    <div class="container">
      <div id="branding">
        {{!-- <h1>VTS</h1> --}}
        {{!-- <img src="../images/Group 65.svg" alt="" srcset=""> --}}
        <img src="../images/123456-02.png" alt="" srcset="">
      </div>
  
      <nav>
        <ul>
          <li>
            <a class="active" href="/">
              <i class="far fa-flag"></i>
            </a>
          </li>

          <li id="chat-button">
            <a href="#">
              <i class="far fa-comment"></i>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="far fa-file-alt"></i>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </header>

  {{{body}}}

  <footer>
    <div class="container">
      <div class="text-center">
        <h4>Made with ❤️ from Saudi Arabia</h4>
        <span>All Rights Reserved
          <strong>VST</strong> © 2018</span>
      </div>
  
      <div class="footer-bottom">
        <div class="copyright">
          {{!-- <img src="/images/VTS-white.png" alt="brand-pic"> --}}
        </div>
  
        <nav class="icon-set">
          <ul class="navbar-nav">
            <li class="email">
              <a href="mailto:SnapFilterIbra@Gmail.com" data-toggle="tooltip" title="Email">
                <i class="fa fa-envelope fa-lg"></i>
              </a>
            </li>
            <li class="instagram">
              <a target="_blank" href="https://instagram.com/urSnapFilter" data-toggle="tooltip" title="Instagram">
                <i class="fab fa-instagram fa-lg"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
</body>

</html>