@font-face {
    font-family: 'AR BONNIE';
    src: url("../Fonts/ARBONNIE.ttf");
}

@font-face {
    font-family: 'GE SS Text Light';
    src: url("../Fonts/stc.otf");
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url("../Fonts/DroidKufi-Regular.ttf");
}